body {
    font-family: 'Montserrat',sans-serif;
    min-width: 1200px;
    width: 100%;
    overflow-x: hidden;
}

.header_section {
    height: 1012px;
    width: 100vw;
    background-image: url("../images/section-1(header).jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.header {
    height: 120px;
    width: 100vw;
    background-color:  rgba(73, 71, 63, 0.6);
}

.fixedw {
    max-width: 1160px;
    width: 100%;
    margin: 0 auto;
}
.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo{
    display: flex;
}
.first_logo_word{
    width: 58px;
    height: 67px;
    background-color:  #18cfab;
    font-size: 40px;
    font-weight: 700;
    line-height: 67px;
    text-align: center;
    color: white;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}
.ham_logo{
    height: 67px;
    line-height: 67px;
    font-size: 32px;
    font-weight: 400 ;
    margin-left: 8px;
}
.ham_logo span {
    font-weight: 700;
}
.nav_logo_bar{
    height: 120px;
    line-height: 120px;
    display: flex;
    width: 683px;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 700;
    color:  #b8b8b8;
}
/*--search fas
.nav_logo_bar a i{
    font-size: 22px;
    line-height: 120px;
}*/
.nav_logo_bar a {
    height: 122px;
    box-sizing: border-box;
    border-bottom: 2px solid transparent;
}
.nav_logo_bar a:hover{
    color: #18cfab;
    border-bottom: 2px solid #18cfab;;
}
.main_color {
    color: #18cfab;
}

.header_bottom {
    margin-top: 246px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header_text{
    font-weight: 700;
    text-align: center;
    margin-bottom: 142px;
    letter-spacing: 1px;
}
.header_text p:first-child{
    font-size: 35px;
    margin-bottom: 45px;
}
.header_text p:nth-child(2){
    font-size: 79px;
    margin-bottom: 37px;
}
.header_text p:last-child{
    color:  #d4d4d4;
    text-transform: capitalize;
    font-size: 34px;
    font-weight: 300;
}
.button{
    border-radius: 4px;
    background-color:  #18cfab;
    width: 166px;
    height: 61px;
    outline-style: none;
    font-size: 13px;
    font-weight: 700;
    color: white;
    border: none;
    margin: 0 14px;
    box-shadow: 0 -4px;
}

.button:hover{
    background-color:  #00cbf6;
    cursor: pointer;
}

/*-----squares-------*/
.header_squares{
    display: flex;
    width: 100vw;
}
.square{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color:  #1c2a33;
    width: 480px;
    height: 374px;
    color:  #18cfab;
    font-size: 20px;
    font-weight: 700;
    box-sizing: border-box;
    padding-bottom: 120px;
    padding-top: 95px;
    border-top: 7px solid #18cfab;
}
.square:nth-child(even){
    padding-top: 105px;
    background-color:  #18cfab;
    border-top: 7px solid #fff;
    color: #fff;
}
/*----service----*/
.block_of_service{
    padding: 82px 0 103px 0;
}
.title{
    color:  #4e4e4e;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
}
.title:after {
    content: "";
    display: block;
    margin: 0 auto;
    transform: skew(70deg);
    height: 4px;
    width: 76px;
    border-top: 1px solid #18cfab;
    border-bottom: 1px solid #18cfab;
    margin-top: 37px;
    margin-bottom: 70px;
}
.services {
    padding-bottom: 103px;
}
.service_text img{
    width: 194px;
    margin-right: 25px;
    height: 100%;
}
.service_text{
    height: 100%;
    display: flex;
    color:  #777777;
    font-size: 14px;
    text-align: justify;
    line-height: 25px;
}
.service_text p {
    text-align: justify;
}
.service_menu{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 24px;
    background-color: #f8fcfe;
    color: #717171;
}
.service_theme{
    height: 73px;
    line-height: 73px;
    max-width: 193px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    border: 0.2px solid rgba(71,71,71,0.1);
    cursor: pointer;
}
.service_active{
    background-color: #18cfab;
    color: #fff;
    border: none;
}
.service_active:after{
    content: "";
    display: block;
    height: 0;
    width: 0;
    margin: 0 auto;
    border-color: #18cfab transparent;
    border-style: solid;
    border-width: 13px 13px 0px 13px;
}

/*/*---purchase--*/
.purchase{
    background: url(../images/background_section-2.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.purchase_img{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background:  rgba(0, 0, 0, 0.78);
    padding: 126px 0 127px 0;
}
.purchase_img .first{
    color:  #18cfab;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 35px;
}
.purchase_img .second{
    color:  #d8d8d8;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 80px;
}

/*---our amazing work----*/
.wrapper-work {
    border-bottom: 1px solid #e1e1e1;
}

.wrapper-work > .tabs {
    margin-top: 70px;
    display: flex;
    justify-content: center;
}

.wrapper-work > .tabs .tab {
    background-color: #f8fcfe;
    border: 2px solid #ebebeb;
    padding: 28px 34px 28px 34px;
}

.wrapper-work > .tabs .tab:nth-child(n-1) {
    border-right: 1px solid #ebebeb;
}

.wrapper-work > .tabs .tab:nth-child(n+1) {
    border-left: 1px solid #ebebeb;
}

.wrapper-work > .tabs .tab:hover {
    color: #18cfab;
    cursor: pointer;
    border-top: 2px solid #18cfab;
}
.wrapper-work > .tabs .tab.active{
    color: #18cfab;
    cursor: pointer;
    border-top: 2px solid #18cfab;
}

.wrapper-work > .all-list {
    display: flex;
    justify-content: center;
}

.wrapper-work > .all-list .tabs-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1160px;
    margin: 70px 100px 71px;
}

.wrapper-work > .all-list .tabs-content .content {
    width: 284px;
    height: 206px;
    position: relative;
}

.wrapper-work > .all-list .tabs-content .content > .title {
    display: none;
}

.wrapper-work > .all-list .tabs-content .content:hover > .title {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    border-top: 3px solid #18cfab;
    width: 286px;
    height: 205px;
}

.wrapper-work > .all-list .tabs-content .content > .title .buttons {
    margin-left: 98px;
}

.wrapper-work > .all-list .tabs-content .content > .title .buttons button {
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    padding: 13px;
    border: 2px white solid;
    border-radius: 50%;
}

.wrapper-work > .all-list .tabs-content .content > .title .buttons button:hover {
    border-color: #18cfab;
    background-color: #18cfab;
    color: white;
}

.wrapper-work > .all-list .tabs-content .content > .title .buttons button {
    border-color: #18cfab;
    background-color: white;
    color: #18cfab;
    transition: all linear .3s;
}

.wrapper-work > .all-list .tabs-content .content > .title > .title {
    font-size: 20px;
    color: rgba(24, 207, 171, 255);
    text-align: center;
    text-transform: uppercase;
    margin-top: 34px;
}

.wrapper-work > .all-list .tabs-content .content > .title .description {
    font-size: 14px;
    color: rgba(138, 138, 138, 255);
    text-align: center;
    margin-top: 13px;
}

.wrapper-work > .button,
.wrapper-gallery > .buttontn {
    text-align: center;
}

.wrapper-work > .button > button,
.wrapper-gallery > .button > button {
    width: 160px;
}

.wrapper-work > .button .load-more,
.wrapper-gallery > .button .load-more {
    font-size: 14px;
    color: rgba(255, 255, 255, 255);
    text-align: center;
    padding: 15px 10px;
    margin-top: 0;
    width: 160px;
    margin-bottom: 100px;
}

.wrapper-work > .button .load-more::before,
.wrapper-gallery > .button .load-more::before {
    content: '\271A';
    margin-right: 17px;
}
