@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Roboto:400,700|Nunito:400,700');

body{
  background-color: #FCFCFC;
  overflow-x: hidden;
}

.section-what {
  justify-content: center;
}

.border-bottom {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50vw 0 50vw;
  border-color: #FCFCFC transparent transparent transparent;
  position:relative;
  z-index : 10;

}

.border-top {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 50px 50vw 0 50vw;
  border-color: transparent #FCFCFC #FCFCFC #FCFCFC;
  position:relative;
  z-index : 10;

}

.header {
  background: url("../img/bg1.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
}

.container-background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: url("../img/Rectangle2.png");
    opacity: 0.5;
}

.blur{
   background: url("../img/Rectangle2.png") repeat top;
   opacity: 0.5;
   z-index: 11;
   }

.color-white{
  color: #ffffff !important;
}

.nav{
  padding: 37px 200px;
  background-color: #ffffff;
  position : relative;
  z-index:10;


}

.logo{
  font-family: Roboto, sans-serif;
  color:  #424f57;
  font-size: 36px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  text-decoration: none;
}

.company-name{
  font-family: Roboto,sans-serif;
  color:  #14afca;
  font-size: 36px;/* Приближение из-за подстановки шрифтов */
  font-weight: 900;

}

.nav-list{
  float: right;

}

.nav-item{
  text-transform: uppercase;
  font-family: OpenSans, sans-serif;
  color:  #14afca;
  font-size: 15px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  display: inline-block;
  line-height: 36px;
  padding: 0 25px;
}

.nav-item a{
  text-decoration: none;
  color:  #3e4b4e;

}

.nav-item a:hover{
  color:  #14afca;

}
.section-title{
  font-family: Roboto, sans-serif;
  color:  #14afca;
  font-size: 60px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 75px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-top: 108px;
  text-transform: uppercase;
}

.section-subtitle{
  font-family: OpenSans, sans-serif;;
  color:  #424f57;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  line-height: 75px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.section-text{
  font-family: Roboto, sans-serif;
  color:  #424f57;
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  line-height: 30px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  padding: 0 173px;
  margin-bottom: 75px;

}

.header-title{
  font-family: Roboto, sans-serif;
  text-transform: uppercase;
  padding: 173px;
  color:  #ffffff;
  font-size: 52px;
  font-weight: 700;
  line-height: 75px;
  text-align: center;

}

.companies{
  background: url("../img/bg2.jpg") no-repeat top fixed;
  background-size: cover;
  position:relative;
}

.companies-list{
  padding: 0 173px;
  list-style: none;
  text-align: center;

}

.companies-item{
  display: inline-block;
  margin: 0 10px 75px;
}

.company-logo{
  vertical-align: middle;

}

.team-list{
  padding: 0 173px;
  list-style: none;
  text-align: center;
  font-family: Roboto, sans-serif;
  color:  #424f57;
  font-size: 15px;/* Приближение из-за подстановки шрифтов */
  line-height: 28px;/* Приближение из-за подстановки шрифтов */
}

.team-member{
  margin: 0 15px 75px;
  display: inline-block;
  width: 279px;
}

.testimonials{
  background: url("../img/bg3.jpg") no-repeat top fixed;
  background-size: cover;
  position:relative;


}
.quote-text{
  font-family: OpenSans, sans-serif;
  color:  #d3cccc;
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  font-style: italic;
  line-height: 28px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  padding: 0 173px;
}

.quote-author{
  font-family: OpenSans, sans-serif;
  color:  #ffffff;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 600;
  font-style: italic;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: right;
  padding: 0 300px;
  margin-bottom: 100px;
}

.section-why-text{
  padding: 0 311px;
  font-family: Roboto, sans-serif;
  color:  #424f57;
  font-size: 30px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 48px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
  margin-bottom: 100px;
}

.footer{
  padding-bottom: 75px;
  font-family: OpenSans, sans-serif;
  color:  #3d3c3c;
  text-align: center;
  line-height: 24px;
}

.copyright{
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
}

.designed-by{

}

.designer{
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;

}

.container{
  width: 1280px;
  margin: 0 auto;
}

.container .content {
    position: relative;
    z-index: 1;
}
