
body{

  background: url("../img/body_bg.png");
  font-family: 'Montserrat' , sans-serif;
}
h3, p {
  text-align: center;

}

.separator {
  background-color:  #f1ad1d;
  width: 60px;
  height: 3px;
  border: none;
  margin: 0 auto;
}

.header {
  font-family: 'Montserrat' , sans-serif;
  background: url('../img/bg1.jpg') no-repeat center;
  background-size: cover;
  font-weight: 700;
  /*padding: 530px 0 294px 86px;*/
  color: #ffffff;
}

.site-name {
  font-size: 48px;
  margin-bottom:16px;
}

.site-description {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 28px;
  text-align: left;
}

.slogan-we {
  color: #f1ad1e;
  background-color: #ffffff;
  font-size: 54px;
  padding: 30px 20px;
  float: left;
  border: 1px solid #ffffff;
}


.smart-design{
  padding: 30px 30px;
  display: inline-block;
  border: 1px solid #ffffff;
  background-color: rgba(1, 1, 1, 0.3);
  font-size: 54px;
  float: left;

}

.section-blank{
  padding: 112px 0 137px 0;
  background: url("../img/body_bg.png")
}

.section-slogan{
  color:  #333333;
  font-size: 22px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  margin-bottom: 34px;
  font-family: 'Montserrat' , sans-serif;
}

.section-text{
  font-family: 'Lato', sans-serif;
  color:  #4d4943;
  font-size: 17px;
  line-height: 24px;
  margin-bottom: 52px;

}

.realities{
  background-size: cover;
  background: url(../img/bg2.jpg) no-repeat fixed center;
  padding: 150px 0;
}

.section-slogan-white-text{
  color: #ffffff;
}

.span-yellow{
  color:  #f1ad1d;
}

.featured-on{
  background: url(../img/bg3.jpg) no-repeat fixed;
  background-size: cover;
  padding: 150px 0;

}

.featured-list {
  padding: 0;
  margin: 60px auto 0;
  text-align: center;
}

.featured-list li {
  list-style: none;
  margin: 0 15px;
  padding: 0;
  display: inline-block;
}

.featured-list li img{
  vertical-align: middle;
}



.our-bird-text{
  margin-top: 60px;
  color: #ffffff;
  line-height: 30px;
}

.our-bird{
  background: url("../img/bg4.jpg") no-repeat fixed;
  background-size: cover;
  padding: 150px 0 100px;
  color: #ffffff;
}