body {
    font-family: 'Arimo', sans-serif;
}

table, tr, td, th {
    /*margin: 0 auto;*/
    text-align: center;

}

table {
    width: 100%;
}

th, td {
    padding: 18px 23px;
    text-transform: uppercase;
    color: #484848;
    vertical-align:middle;
}

table {
    border: solid 27px #364664;
}

th {
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    padding: 32px 0;
}

td {
    font-size: 16px;
    line-height: 24px;
    box-shadow: 5px 0 5px 0 rgba(0, 0, 0, 0.27);
}

td:nth-child(1) {
    color: #ffffff;
}

td:nth-child(2n+2) {
    background-color: #e3e3e3;
}

td:nth-child(2n+3) {
    background-color: #f2f2f2;
}

th:nth-child(2n+2) {
    background-color: #e3e3e3;
}

th:nth-child(2n+3) {
    background-color: #f2f2f2;
}

i {
    color:  #848484;
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 5px;
}


.standart-plan {
    background-color: #89c331;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);

}

.ultimate-plan {
    background-color: #f04a56;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}

.premium-plan {
    background-color: #20807c;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.27);
}

.price-block {
    margin: 22px 0 0 0;
}

.price {
    font-size: 36px;
    font-weight: 700;
    line-height: 28px;
    display: inline-block;
}

.decimal-part {
    font-size: 18px;
    font-weight: 700;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    vertical-align: 12px;
}

.frequency {
    line-height: 36px;
    font-size: 14px;
    text-align: left !important;
    display: inline-block;
}

td p {
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
}

.pricing-plan {
    color:  #484848;
    font-weight: 700;
    font-size: 14px;
    padding: 0 28px;
}

.pricing-plan-big {
    font-size: 20px;
}

.btn{
    border-radius: 5px;
    background-color:  #414141;
    border: none;
    color: #fff;
    padding: 5px 34px;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    text-transform: uppercase;
    border-bottom:  solid 5px #343434;
    border-top: solid 5px transparent;
    display: block;
    margin: auto;
}

.btn:hover{
    background-color: #343434;
    border-top-color: #414141;
    cursor: pointer;


}

