.border-grad{
    border: 5px solid transparent;
    -moz-border-image: -moz-linear-gradient(top, #fff 30%, #f06124 70%);
    -webkit-border-image: -webkit-linear-gradient(top, #fff 30%, #f06124 70%);
    border-image-slice: 1;
}
.container{
    width: 307px;
    height: 200px;
    overflow: hidden;
    position: relative;
    -moz-transition: all .4s;
    -webkit-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}
.container .block{
    -moz-transition:all 1s;
    -webkit-transition:all 1s;
    -o-transition:all 1s;
    transition:all 1s;
}
.container div{
    width: 100%;
    height: 0;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    overflow: hidden;
    bottom: 0;
    left: 0;
    z-index: 9910;
    -moz-transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    background-color: #f06124;
}
.container:hover div{
    height: 50px;
    color: white;
}
.tours .content:hover p{
    color: #f06124;
}
.tours .content:hover .sp-view,
.tours .content .sp-view{
    color: #fff;
    margin-left: 126px;
    margin-top: 35px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 14px;
    text-align: left;
}
.tours .content:hover .sp-view:after,
.tours .content .sp-view:after{
    margin-left: 15px;
    content: '\3E';
}
.tours .content:hover .sp-from,
.tours .content .sp-from{
    color: #fff;
    margin-top: 16px;
    margin-left: 21px;
    font-size: 10px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    text-align: left;
}
.tours .content:hover .sp-price,
.tours .content .sp-price{
    color: #fff;
    margin-top: 7px;
    margin-left: 21px;
    margin-bottom: 17px;
    font-family: ﻿AdobeInvisFont, ﻿Courier, ﻿Verdana, sans-serif;
    font-size: 20px;
    text-align: left;
}