.wrapper-work .container {
    height: 200px;
    display: none;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    animation-delay: 1s;
    padding: 155px 0;
    margin-bottom: 100px;
}

.wrapper-work .item-1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.wrapper-work .item-1:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 200ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.wrapper-work .item-2 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.wrapper-work .item-2:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 400ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.wrapper-work .item-3 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.wrapper-work .item-3:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 600ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.wrapper-work .item-4 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.wrapper-work .item-4:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 800ms;
    transition: 0.5s all ease;
    transform: scale(1);
}

.wrapper-work .item-5 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    margin: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes scale {
    0% {
        transform: scale(1);
    }
    50%,
    75% {
        transform: scale(2.5);
    }
    78%, 100% {
        opacity: 0;
    }
}
.wrapper-work .item-5:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #18cfab;
    opacity: 0.7;
    animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
    animation-delay: 1000ms;
    transition: 0.5s all ease;
    transform: scale(1);
}
