html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT Sans', sans-serif;
}

.main-container {
    display: table;
    margin: 0 auto 100px;
    width: 1280px;
}

.header-logo {
    font-size: 80px;
    margin: 0;
    padding: 0;

}

.header-color {
    color: #4bcaff;
}

.nav {
    background-color: #35444f;
    margin-bottom: 50px;

}

.nav-list {
    margin: 0;
    padding: 15px 0;

}

.nav ul li {
    display: inline;
    list-style-type: none;
}

.nav-item {
    color: #ffffff;
    font-size: 24px;
    padding: 15px 20px;
    text-decoration: none;
    border-left: solid 1px transparent;
    border-right: solid 1px transparent;
}

.nav-item:hover {
    background-color: #222f3a;
    border-left: solid 1px #596166;
    border-right: solid 1px #596166;
}

.side-menu {
    border: solid 1px #35444f;
    float: left;
    font-size: 27px;
    line-height: 66px;
    margin-right: 50px;
    width: 340px;
}

.side-menu-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.side-menu-list li {
    margin: 0;
    padding: 0;
}

.side-menu-item {
    display: inline-block;
    color: #485863;
    height: 66px;
    padding-left: 40px;
    text-decoration: none;
}

.side-menu-item:hover {
    background: #D9D9D9;
    color: #000000;
    padding-left: 50px;
    text-decoration: none;
    width: 290px;
}

.content {
    border: solid 1px #35444f;
    float: right;
    text-align: center;
    width: 886px;

}

.content-image {
    /*height: 381px;*/
    margin: 75px auto;
    /*width: 320px;*/
    max-width: 100%;

}

.content-text {
    color: #2c2b2b;
    float: right;
    font-size: 18px;
    padding: 0 34px;
    width: 818px;
}

.footer {
    background-color: #B3B6B9;
    height: 69px;
    margin: 0 auto;
    padding: 0 20px;
    width: 1240px;
}

.footer-list {
    font-size: 28px;
    margin: 0;
    padding: 15px 10px;
}

.footer-list li {
    display: inline-block;
}

.footer-list-item {
    color: #0c1927;
    padding: 15px 10px;
    text-decoration: none;
}

.footer-list-item:hover {
    color: #3181a6;
    text-decoration: underline;
}

.copyrigth {
    float: right;
}