@media only screen and (max-width: 480px) {
    body {
        min-width: 320px;
    }

    section{
       padding:  70px 0;
    }

    .logo-text {
        color: #333333;
        font-weight: 400;
    }

    .logo-text span {
        color: #8d81ac;
    }

    .revo-text {
        padding: 39px 0 36px;
    }
    .revo-slogan{
        font-size: 33px;
    }

    .download-container {
        /*margin-top: -130px;*/
    }

    .download-btn
    {
        padding: 23px 15px;
    }

    .btn {
        width: 280px;
    }

    .btn-list li {
        width: 100%;
    }

    .price-item {
        width: 60%;
    }

    .price-item-active {
        width: 64%;
        margin-top: 50px;
    }

    .about-list li {
        vertical-align: top;
        width: 100%;
    }

    .footer-content {
        display: block;
    }

    #slider ul li {
        width: 300px;
    }

    .user-name {
        padding: 27px 2px;
    }

    .your-name, .your-phone, .btn-call {
        display: none;
    }

    .your-email {
        display: inline-block;
        width: 50% !important;
    }

    .btn-subscribe {
        display: inline-block;
        width: 30% !important;
    }

    .footer .wrapper {
        padding: 0 35px;
    }

    .footer-content {
        width: 100%;
    }

    .finfo {
        margin-left: 0;
    }

    .header-menu-dropDown-links {
        width: 100%;
        bottom: 22px;
        display: none;
    }

    .header-menu-links {
        display: block;
        margin: 0;
        background-color: #2F2F2F;
        position: absolute;
        width: 100%;
        top: 20px;
    }

    .header-menu {
        padding: 22px 20px 22px 20px;
    }

    .header-menu-item {
        border-bottom: solid 1px rgba(244, 244, 244, 0.04);

    }

    .menu-link {
        color: #ffffff;
        font-size: 32px;
        font-weight: 400;
        line-height: 78px;
        text-align: left;
        border-left: solid 4px transparent;
        padding-left: 5px;
    }

    .menu-active {
        border-color: #8d81ac;
        color: #858585;
    }

    .menu-link:hover {
        color: #8d81ac;
    }

    .btn-toggle {
        display: block;
        text-decoration: none;
    }

    .btn-toggle:after {
        content: '\2630';
        color: #ffffff;
        font-weight: 700;
        line-height: 40px;
        font-size: 20px;

    }

    .open {
        display: block;
    }

    .tablet-case {
    }

    .header-separator {
        display: initial;
    }

    .list-container{
        padding: 0;
    }
}


