@media only screen and (max-width: 992px) {
    body {
        width: 100%;
    }

    .wrapper {
        padding: 0 10px;
    }

    .what-you-get-left, .what-you-get-right {
        display: block;
        width: 100%;
        clear: both;
    }

    .what-you-get-slogan{
        margin-bottom: 60px;
    }
   #slider ul li {
        width: 500px;
    }

    .about-title {
        font-size: 42px;
    }

    .about-list li {
        vertical-align: top;
        width: 49%;
    }

    .price-list:first-child {
        margin-left: 0;

    }

    .price-list:last-child {
        margin-right: 0;

    }

    .price-item {
        width: 32%;
        margin: 70px 10px 0;
    }

    .price-item-active {
        width: 34%;
        max-width: none;
        margin-top: 20px;
    }

    .pricing p {
        padding: 0;
    }

    .btn-list li {
        min-width: 180px;
        max-width: 280px;
        width: 40%;
        margin: 35px 20px 0;

    }

    .revo-text {
        padding: 39px 0 36px;
    }

    .pricing-title {
        font-size: 42px;
        margin-bottom: 0;
    }

    .form-group input {
        width: 35%;
    }

    .btn-call {
        width: 25%;
    }

    .order .wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-between;
    }

    .footer-content {
        width: 45%;
    }

    .fphone {
        margin-left: 0;
    }

    .finfo {
        margin-left: 35px;
    }

    .editor {
        width: 100%;
        top: auto;
        position: relative;
        left: 5%;
    }
    .editor-img {
        width: 100%;
    }
    .what-you-get .wrapper {
        position: initial;
    }

    .phone{
        font-size: 28px;
    }

    .about .delimiter{
        margin: 60px auto;
    }

    .header-menu{
        padding: 22px 20px 62px 20px;
    }

    .tablet-case{
        justify-content: flex-end;
    }

    .header-menu-dropDown-links{
        width: 95%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 22px;
    }

    .header-menu-links{
        padding: 0;
        justify-content: space-between;
        max-width: 750px;
        margin: 0 25px 0 auto;
    }
}