@media only screen and (max-width: 320px) {

    .octicon {
        vertical-align: middle;
        color: black;
        width: 30px;
    }

    .logo-text{
        font-size: 20px;
        padding-left: 5px;
    }

    .btn-buy-now{
        padding: 10px 10px;
    }

    .header-separator{
        margin: 0 10px;
    }

    .price-item-active {
        width: 70%;
    }

    .download-container{
        margin-top: -80px;
    }
}