body {
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: #FCFCFC;
}

.main-title {
    color: #ffffff;
    font-size: 82px;
    font-weight: 700;
    text-align: center;
    padding-bottom: 18px;
}

section {
    padding: 80px 0;
    text-align: center;
}

.main-section {
    background: #FCFCFC url("../imgs/bg1.png") center no-repeat;
}

.main-section p {
    color: #848e97;
    font-size: 16px;
    line-height: 15px;
    text-align: center;
    padding: 25px 0;
    text-transform: uppercase;
    margin-bottom: 350px;

}

.main-slogan {
    color: #8d81ac;
    font-size: 20px;
    line-height: 25px;
    text-align: center;

}

.download-container {
    position: relative;
    z-index: 1;
    margin-top: -90px;
    text-align: center;
}

.download-btn {
    padding: 23px 64px;
    min-width: 300px;
    color: #ffffff;
    font-size: 21px;
    font-weight: 700;
    text-align: center;
    text-decoration: none;
    background-color: #8d81ac;
    border-radius: 35px;
}

.download-btn:hover {
    color: #8d81ac;
    border: solid 1px #8d81ac;
    background-color: #ffffff;
}

.download-container p {
    margin-top: 20px;
    color: #848e97;
    font-size: 14px;
    line-height: 15px;
    text-align: center;
    padding: 20px 0 67px 0;
}

.revolutionary {
    background-color: #FCFCFC;

}

.revo-slogan {
    color: #635c73;
    font-size: 42px;
    font-weight: 700;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
}

.revo-text {
    font-family: 'Source Sans Pro', sans-serif;
    color: #323232;
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    padding: 39px 150px 36px;
}

.revo-btn{
    margin-top: 20px;
    display: inline-flex;
}
.social-btn-list li {
    display: inline-block;
    padding: 0 5px;

}

.social-btn {
    text-decoration: none;
    padding: 5px 15px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    color: #000;
    background-color: #F0F0F0;
}

.social-btn:hover {
    background: #e6ebf1 linear-gradient(-180deg, #f0f3f6 0%, #e6ebf1 90%);
    border-color: rgba(27, 31, 35, 0.35);
}

.octicon {
    vertical-align: middle;
    color: black;
}

.social-count {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 12px;
    line-height: 20px;
    font-weight: 600;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border: 1px solid rgba(27, 31, 35, 0.2);
    color: #000;
    background-color: #FCFCFC;
    border-left: 0;
}

.social-count:hover {
    color: #0366d6;
    cursor: pointer;
}

.what-you-get {
    background-color: #F1F1F1;
    overflow: hidden;
    position: relative;
}

.what-you-get-slogan {
    color: #8d81ac;
    font-size: 42px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;

}

.what-you-get-left {
    width: 45%;
    display: inline-block;
}

.what-you-get-list li {
    margin-bottom: 10px;
}

.what-you-get-right {
    width: 50%;
    float: right;
    display: inline-block;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    position: relative;
}

.img-holder {
    display: inline-block;
}

.text-holder {
    color: #848e97;
    font-size: 14px;
    line-height: 16px;
    text-align: left;
    display: inline-block;
    padding: 0 0 0 25px;
}

.text-holder h3 {
    color: #323232;
    font-size: 16px;
    line-height: 16px;
    text-align: left;
    padding-bottom: 20px;
}

.what-you-get-list li {
}

.list-container {
    display: inline-flex;
    padding: 15px 34px;
}

.img-holder img {
    width: 100px;
}

.testimonials {
    background-color: #FCFCFC;
}

#slider {
    overflow: hidden;
    margin: 20px auto 0 auto;
    border-radius: 4px;
    display: block;
}

#slider ul {
    position: relative;
}

#slider ul li {
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    width: 800px;
}

.control_next {
    z-index: 999;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    background: #FCFCFC url("../imgs/ArrowL.png");
    position: absolute;
    left: 0;
    top: 30%;
    width: 9px;
    height: 16px;
    margin-left: 50px;
}

.control_prev {
    z-index: 999;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 30%;
    width: 9px;
    height: 16px;
    background: #FCFCFC url("../imgs/ArrowR.png");
    margin-right: 50px;
}

a.control_prev:hover, a.control_next:hover {
    opacity: 1;
    -webkit-transition: all 0.3s ease;
}

.slider_option {
    position: relative;
    margin: 10px auto;
    font-size: 18px;
}

.userpic {
    width: 100px;
    height: 100px;
    display: inline-block;
    float: left;
}

.user-name {
    display: inline-block;
    float: left;
    padding: 27px 23px;
    text-align: left;
}

.user-name h3 {
    color: #635c73;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
}

.user-name a {
    color: #8d81ac;
    font-size: 16px;
    line-height: 32px;
    text-align: left;
    text-decoration: none;
}

.slide-box {
    margin: 0 auto;
    display: inline-block;

}

.slide a {
    text-decoration: none;

}

.comment {
    clear: both;
    padding: 24px 0;
    font-family: 'Source Sans Pro', sans-serif;
    color: #333333;
    font-size: 20px;
    line-height: 32px;
    text-align: center;
    transform: scaleX(1.0059);
}

.comment a {
    color: #8d81ac;
    text-decoration: none;
}

.comment-date {
    font-family: 'Montserrat', sans-serif;
    color: #848e97;
    font-size: 16px;
    transform: scaleX(1.0059);
}

.delimiter {
    background-color: rgba(199, 199, 199, 0.2);
    height: 1px;
    border: none;
    margin: 60px auto;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 21px;
    text-align: center;
    padding: 15px 0;
    border-radius: 4px;
    border: solid 1px transparent;
    color: #fff;
    text-decoration: none;
    display: block;
    width: 100%;
    position: relative;

}

.btn-list li {
    display: inline-flex;
    flex-wrap: wrap;
    min-width: 180px;
    width: 28%;
    max-width: 280px;
    justify-content: center;
    margin: 35px 20px 0;

}

.btn-list li i {
    position: absolute;
    left: 24px;
}

.btn-github {
    background-color: #f3f3f3;
    color: #000;
}

.btn-github:hover {
    background-color: #2b414d;
    color: #ffffff;
    transition: background-color linear .4s;
}

.btn-twitter {
    background-color: #26a6d1;
}

.btn-twitter:hover {
    color: #26a6d1;
    border: 1px solid #26a6d1;
    background-color: #ffffff;
    transition: background-color linear .4s;
}

.btn-facebook {
    background-color: #3b5998;
}

.btn-facebook:hover {
    color: #3b5998;
    border: 1px solid #3b5998;
    background-color: #ffffff;
    transition: background-color linear .4s;
}

.followers {
    color: #848e97;
    font-size: 14px;
    line-height: 32px;
    text-align: center;
    padding-top: 18px;
}

.about {
    background: url("../imgs/bg2.png") no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 50px;

}

.about-title {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 95px;
    line-height: 48px;
}

.about-list li {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    width: 33%;

}

.about-list li a {
    height: 64px;
}

.about-list p {
    font-family: 'Source Sans Pro', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    font-style: italic;
    line-height: 24px;
    text-align: center;
    margin: 20px 30px 70px;
}

.pricing {
    padding-top: 0;
    background: url("../imgs/bg3.png") center;
    background-size: cover;
}

.pricing-title {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 120px;
    line-height: 50px;
}

.price-list {
    width: 100%;
}

.price-item {
    display: inline-flex;
    flex-wrap: wrap;
    max-width: 300px;
    min-width: 200px;
    text-align: center;
    min-height: 100px;
    width: 22%;
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.11);
    z-index: 10;
    margin: 50px 10px 0;
    vertical-align: middle;
    justify-content: center;
    align-content: space-between;
}

.price-item-active {
    max-width: 300px;
    width: 23%;
    background-color: rgba(0, 0, 0, 0.2);
    margin-top: 15px;
    vertical-align: top;
}

.price-item-active .price-plan {
    padding-top: 51px;
}

.price-item-active h3 {
    font-size: 82px;
}

.price-item-active hr {
    margin: 49px 33% 41px;
}

.price-item-active .price-plan {
    background: rgba(0, 0, 0, 0.1);
}

.price-item-active .btn-purchase {
    margin: 82px 0 47px;
    padding: 21px 50px;
}

.price-item-active .price {
    margin: 15px 0 21px;
}

.price-plan {
    background-color: rgba(255, 255, 255, 0.06);
    padding: 46px 0;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 15px;
    flex: 0 0 100%;
}

.price {
    font-size: 60px;
    font-weight: 700;
    display: block;
    margin: 32px 0 24px 0;
    flex: 100%

}

.price span {
    font-weight: 400;
}

.price-sep {
    border: none;
    height: 5px;;
    margin: 39px 33% 31px;
    background-color: #8d81ac;
    flex: 100%;

}

.license {
    font-size: 16px;
    line-height: 25px;
    display: block;
    padding: 0;
    margin: 0;
    flex: 100%;

}

.btn-purchase {
    border: none;
    color: #ffffff;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    padding: 16px 37px;
    text-transform: uppercase;
    margin: 37px 0 38px;
    background-color: rgba(255, 255, 255, 0.15);
    border-radius: 40px;
}

.btn-purchase:hover {
    background-color: rgba(255, 255, 255, 0.7);
    color: #7f6d78;
}

.pricing p {
    font-family: 'Source Sans Pro', sans-serif;
    color: rgba(162, 145, 165, 0.8);
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    margin-top: 81px;
    padding: 0 170px;
}

.order {
    padding: 46px 0;
    background-color: #f4f4f4;
    text-align: left;
    overflow: hidden;
}

.order-title {
    display: inline-block;
    color: #635c73;
    font-size: 30px; 
    font-weight: 700;
    line-height: 60px; 
    text-align: left;
    float: left;

}

.form-group {
    text-align: center;
    line-height: 60px;
    flex: 100%;

}

.form-group input {
    font-size: 14px; 
    line-height: 17px; 
    text-align: left;
    border-radius: 21px;
    background-color: #ffffff;
    width: 25%;
    padding: 10px 10px;
    border: none;
    margin: 0 10px;
    outline: none;
    color: #635c73;
}

.your-email, .btn-subscribe {
    display: none;
}

::placeholder {
    color: #c8cbcf;
}

.btn-call {
    border-radius: 21px;
    background-color: #8d81ac;
    padding: 10px 35px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 13px; 
    line-height: 17px; 
    border: none;
    min-width: 140px;
}

.btn-call:hover {
    border: 1px solid #8d81ac;
    background-color: #ffffff;
    color: #8d81ac;
}

.footer {
    background-color: #FCFCFC;
    padding: 0 0 50px;
}

.footer .delimiter {
    margin: 10px auto 69px;
}

.footer-content {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    min-height: 200px;
}

.flogo {
    width: 26%;
    margin-right: 40px;
}

.fnav {
    width: 10%;
}

.fphone {
    width: 22%;
    margin-left: 35px;
}

.finfo {
    width: 30%;
}

.footer-content h4 {
    font-family: 'Montserrat', sans-serif;
    color: #323232;
    font-size: 16px; 
    line-height: 28px; 
    margin-bottom: 23px;
}

.footer-content p {
    color: #848e97;
    font-size: 14px; 
    line-height: 21px; 
}

.footer-nav-item {
    color: #8d81ac;
    font-size: 15px; 
    line-height: 23px; 
}

.footer-nav-item a {
    text-decoration: none;
}

.footer-nav-item a:hover {
    text-decoration: underline;
    color: #8d81ac;
}

.phone {
    color: #3f3f3f;
    font-size: 30px; 
    font-weight: 700;
    line-height: 28px; 
}

.available {
    color: #848e97;
    font-size: 12px; 
    line-height: 28px; 
    text-align: left;
    display: block;
}

.address {
    font-size: 14px; 
    line-height: 23px; 
}

.plan-list {
    display: block;
    position: relative;
    min-height: 50px;
    flex: 100%;
}

.btn-holder {
    display: flex;
    width: 28%;
    flex-wrap: wrap;
}

.what-you-get .wrapper {
    position: initial;
}

.editor {
    position: absolute;
    right: 0;
    width: 50%;
    top: 170px;
}

.editor-img {
}

.nav-list {
    display: inline-block;
}

.container {
    position: relative;
    margin: 0 auto;
    width: 94%;
    max-width: 1200px;
    font-family: helvetica, sans-serif;
}

.content {
    position: relative;
    padding-top: 80px;
}

.content p {
    margin-bottom: 10px;
}


.btn-buy-now {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    background-color: #8d81ac;
    display: inline-block;
    text-decoration: none;
    border-radius: 19px;
    padding: 10px 35px;
}

.btn-buy-now:hover{
    color:  #8d81ac;
    background-color:  #ffffff;
    border: solid 1px #8d81ac;
}

.logo {
    text-decoration: none;
}

.header-logo .logo:hover span{
    color:  #ffffff;
}

.logo:hover path{
    fill:  #ffffff;
}

.logo-text {
    font-family: 'Lato', sans-serif;
    color: #8d81ac;
    font-size: 24px; 
    font-weight: 700;
    line-height: 24px; 
    text-align: left;
    padding-left: 17px;
    vertical-align: middle;
}

.background-header-menu {
    background: #222125;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 10px;
    position: relative;
}

.tablet-case {
    display: flex;
    align-items: center;
    width: 55%;
    justify-content: space-between;
}

.header-menu-dropDown-links {
    width: 70%;
}

.heder-logo {
    display: flex;
    align-items: center;
}

.header-logo-link {
    display: inline-block;
    float: left;
}

.header-logo-link:hover .header-logo-img {
    background-position: -73px -10px;
}

.header-logo-link:hover .header-logo-text {
    color: white;
}

.header-logo-text {
    display: inline-block;
    font-family: Lato, sans-serif;
    color: #8d81ac;
    font-size: 24px;
    font-weight: 700;
    line-height: 16px;
    text-align: left;
    text-transform: uppercase;
    padding-top: 12px;
}

.header-menu-links {
    display: flex;
    justify-content: space-between;
}

.menu-link {
    font-family: Montserrat, sans-serif;
    color: #8d81ac;
    font-size: 16px;
    font-weight: 700;
    line-height: 15px;
    text-decoration: none;
}

.header-menu-item:last-child {
    margin-right: 0;
}

.menu-link:hover {
    color: white;
}

.header-menu-button {
    font-family: Montserrat, sans-serif;
    line-height: 15px;
    width: 140px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 19px;
    background-color: #8d81ac;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
}

.header-menu-button:hover {
    color: #8d81ac;
    background-color: white;
}

.btn-toggle {
    display: none;
}

.footer .logo-text {
    color: #333333;
    font-weight: 400;

}

.footer .logo-text span {
    color: #8d81ac;;
}

.footer-logo{
    margin-bottom: 36px;
}

.footer-logo .logo:hover path{
    color: #333333;
    fill: black;
}

.header-separator{
    background-color:  #f4f4f4;
    width: 1px;
    display: none;
    height: 34px;
    margin: 0 10px;
}