body {
    background: url("../img/background.png") no-repeat;
    background-size: cover;
    font-family: 'Verdana', sans-serif;
}

.header {
    padding: 17px 80px;
    background-color: rgba(0, 0, 0, 0.41);
    overflow: hidden;
}

.logo {
    float: left;
    background: url("../img/logo-full.png");
    display: inline-block;
    width: 85px;
    height: 16px;
    margin-top: 4px;
}

.logo:hover {
    background-position-y: bottom;
}

.header-right-side {
    float: right;
}

.header-icon-list{
    padding: 0;
    margin: 0;
}

.header-icon{
    background: url("../img/header-icons.png") no-repeat;
    display: inline-block;
}

.header-icon:hover{
    background-position-y: bottom;
}

.calendar{
    background-position: 0 top;
    width: 19px;
    height: 19px;
}

.forum{
    background-position: -19px top;
    width: 28px;
    height: 20px;
}


.journey{
    background-position: -47px top;
    width: 20px;
    height: 20px;
}

.header-icon-list li {
    display: inline-block;
    margin-left: 28px;
    text-decoration: none;
}

.header-icon-list li a {
    text-decoration: none;
}

.nav-delimiter {
    border: 1px solid #dfdddd;
    opacity: 0.1;

}

.welcome-signin {
    color: #ffffff;
    font-size: 14px;
    float: right;
    line-height: 21px;

}

.welcome-color {
    color: #3cb878;
    text-decoration: none;
}

.welcome-color:hover {
    text-decoration: underline;
}

.login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 56px);
}

.login-form-content {
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.52);
    width: 444px;
    /*height: 584px;*/
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 29px 0;
    line-height: 21px;
}

.login-header {
    margin-bottom: 22px;

}

.green-square {
    background-color: #3cb878;
    width: 18px;
    height: 18px;
    float: left;
}

.sign-up {
    color: #434343;
    font-size: 20px;
    margin-left: 42px;
    float: left;

}

.log-in {
    color: #3cb878;
    font-size: 14px;
    float: right;
    text-align: right;
    margin-right: 60px;
    text-decoration: none;
}

.log-in:hover{
    text-decoration: underline;
}

.login-container {
    padding: 22px 60px;

}

.btn-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 20px;
}

.delimiter-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 22px;
}

.delimiter-line {
    border: 1px solid #eaeaea;
    width: 133px;

}

.delimiter-or {
    color: #848484;
    font-size: 14px;
    text-align: center;
}

.input {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    color: #bebebe;
    font-size: 14px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.input:focus {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.21);
    color: #434343;
    outline: 0;
}

.agreement {
    margin: 12px 0 22px;

}

.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background: url(../img/checkbox.png) no-repeat center;

}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

.term-conditions {
    color: #434343;
    font-size: 14px;
    margin-left: 30px;
    line-height: 21px;

}

.term-conditions-link {
    text-decoration: none;
    color: #3cb878;
}

.term-conditions-link:hover {
    text-decoration: underline;
}

.btn-create-account {
    border: none;
    border-radius: 3px;
    background-color: #3cb878;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.btn-create-account:hover {
    background-color: #329a65;
}

.btn-social{
    border-radius: 3px;
    width: 157px;
    color: #ffffff;
    padding: 10px 0;
}


.btn-fb {
    background-color: #305db8;
}

.btn-fb:hover {
    background-color: #264b96;
}

.fb-logo {
    font-size: 20px;
}

.btn-fb-logo {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 0 15px;
    height: 26px;
}

.btn-text {
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding: 0 15px;

}

.btn-google {
    background-color: #df4a32;

}

.btn-google:hover {
    background-color: #c3412c;

}

.btn-google-logo {
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    display: inline-block;
    padding: 0 10px;
    height: 26px;
}

